  <div class="card login">

    <% if (errors) { %>
     <% errors.array().forEach(error => { %>
       <p class="alert error"><%= error.msg %></p>
    <%  }) %>
    <% } %>

    <h1>Register</h1>
    <p>All fields are required</p>
    <form action="/account/register" method="post">
      <label for="firstname">
        <input type="text" id="firstname" name="account_firstname" placeholder="First Name" value="<%= locals.account_firstname %>" required>
      </label>
      <label for="lastname">
        <input type="text" id="lastname" name="account_lastname" placeholder="Last Name" value="<%= locals.account_lastname %>" required>
      </label>
      <label for="email">
        <input type="email" id="email" name="account_email" placeholder="Email Address" value="<%= locals.account_email %>" required>
      </label>
      <label for="password">
        <p class="login_pass_note">The password must be at least 12 characters and include at least one number, one lowercase letter, one capital letter, and one non-alphanumeric character (not a space).</p> 
        <input type="password" id="password" name="account_password" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
      </label>
      <input class="register_submit" type="submit" value="Register">
    </form>

  </div>